header nav ul{
    @apply justify-center flex md:space-x-50 sm:space-x-20 lg:space-x-80 xl:space-x-110 ;
    
}
header nav{
    @apply sm:p-2 md:p-4 lg:p-6 xl:p-8;
    background-color: var(--primary-color);
    
}
header nav ul li a{
  
    @apply text-base font-bold sm:p-2 md:p-4 lg:p-6 xl:p-8;
    color:var(--text-primary);
    transition-duration: 1s;
    
}
header nav ul li a:hover{
    @apply text-2xl;
    color:var(--text-primary-hover);
 
}